<!doctype html>
    <head>
        <meta charset="utf-8">
        <title>站點劇本編輯器</title>
        <link rel="shortcut icon" type="image/png" href="http://www.uni-innovate.com/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
    </head>

    <div id="sitebody" class="class1">
        <div id="save_and_load" class="class1">
            <button id="save" value="0" onclick="loadTest({{data}})">讀取</button>
            <button id="load" value="1">儲存</button>
        </div>

        <div id="station" class="class1">
            <form>
                <label for="station_txt">站點列表</label><br>
                <select id="station_select" size="10" style="width:112px" onchange="loadData({{data}})">
                </select><br>
                <button id="station_add" value="158611">+</button>
                <button id="station_del" value="158612">-</button>
            </form>
        </div>

        <div id="setting" class="class1">
            <form>
                <label for="type_txt">站點類型</label><br>
                <select id="type_box">
                    <option value="go">去程點</option>
                    <option value="back">回程點</option>
                    <option value="go_and_back">雙向點</option>
                </select>
            </form>
        </div>

        <div id="go_collide" class="class1">
            <form>
                <label for="go_laser_text">去程雷射</label><br>
                <select name="go_laser_box">
                    <option value="none">未選擇</option>
                    <option value="on">開</option>
                    <option value="off">關</option>
                </select><br>
                <br/>
                <label for="go_ultrasonic_text">去程超聲波</label><br>
                <input type="checkbox" value="0" name="go_ultrasonic_box">0<br>
                <input type="checkbox" value="1" name="go_ultrasonic_box">1<br>
                <input type="checkbox" value="2" name="go_ultrasonic_box">2<br>
                <input type="checkbox" value="3" name="go_ultrasonic_box">3<br>
                <input type="checkbox" value="4" name="go_ultrasonic_box">4<br>
                <input type="checkbox" value="5" name="go_ultrasonic_box">5<br>
                <input type="checkbox" value="6" name="go_ultrasonic_box">6<br>
                <input type="checkbox" value="7" name="go_ultrasonic_box">7
            </form>
        </div>

        <div id="go_action" class="class1">
            <form>
                <label for="go_action_txt">去程動作</label><br>
                <select name="go_action_select" size="10" style="width:112px">
                </select><br>
                <button id="go_action_add" value="158511">+</button>
                <button id="go_action_del" value="158512">-</button>
                <button id="go_action_up" value="158513">↑</button>
                <button id="go_action_down" value="158514">↓</button>
            </form>
        </div>

        <div id="back_collide" class="class1">
            <form>
                <label for="back_laser_text">回程雷射</label><br>
                <select name="back_laser_box">
                    <option value="none">未選擇</option>
                    <option value="on">開</option>
                    <option value="off">關</option>
                </select><br>
                <br/>
                <label for="back_ultrasonic_text">回程超聲波</label><br>
                <input type="checkbox" value="0" name="back_ultrasonic_box">0<br>
                <input type="checkbox" value="1" name="back_ultrasonic_box">1<br>
                <input type="checkbox" value="2" name="back_ultrasonic_box">2<br>
                <input type="checkbox" value="3" name="back_ultrasonic_box">3<br>
                <input type="checkbox" value="4" name="back_ultrasonic_box">4<br>
                <input type="checkbox" value="5" name="back_ultrasonic_box">5<br>
                <input type="checkbox" value="6" name="back_ultrasonic_box">6<br>
                <input type="checkbox" value="7" name="back_ultrasonic_box">7
            </form>
        </div>

        <div id="back_action" class="class1">
            <form>
                <label for="back_action_txt">回程動作</label><br>
                <select name="back_action_select" size="10" style="width:112px">
                </select><br>
                <button id="back_action_add" value="158511">+</button>
                <button id="back_action_del" value="158512">-</button>
                <button id="back_action_up" value="158513">↑</button>
                <button id="back_action_down" value="158514">↓</button>
            </form>
        </div>
    </div>
</html>