<!doctype html>
    <head>
        <meta charset="utf-8">
        <title>站點劇本編輯器</title>
        <link rel="shortcut icon" type="image/png" href="http://www.uni-innovate.com/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
    </head>

    <div id="sitebody" class="class1">
        <div id="save_and_load" class="class1">
            <button id="load" value="0" onclick="loadTest({{data}})">讀取站點列表</button>
            <form method="GET" action="/save">
                <button id="save" value="save" onclick="saveTest()">儲存當前站點</button>
            </form> 
        </div>

        <div id="station" class="class1">
            <form>
                <label for="station_txt">站點列表</label><br>
                <select id="station_select" size="10" style="width:112px">
                </select><br>
                <button id="station_add" value="158611" onclick="addStation()">+</button>
                <button id="station_del" value="158612" onclick="removeSelectedStation()">-</button>
            </form>
        </div>

        <div id="setting" class="class1">
            <form>
                <label for="type_txt">站點類型</label><br>
                <select id="type_box">
                    <option value="go">去程點</option>
                    <option value="back">回程點</option>
                    <option value="go_and_back">雙向點</option>
                </select>
            </form>
        </div>

        <div id="go_collide" class="class1">
            <form>
                <label for="go_laser_text">去程雷射</label><br>
                <select id="go_laser_box">
                    <option value="off">關</option>
                    <option value="on">開</option>
                </select><br>
                <br/>
                <label for="go_ultrasonic_text">去程超聲波</label><br>
                <input type="checkbox" id="go_ultrasonic_box0">0<br>
                <input type="checkbox" id="go_ultrasonic_box1">1<br>
                <input type="checkbox" id="go_ultrasonic_box2">2<br>
                <input type="checkbox" id="go_ultrasonic_box3">3<br>
                <input type="checkbox" id="go_ultrasonic_box4">4<br>
                <input type="checkbox" id="go_ultrasonic_box5">5<br>
                <input type="checkbox" id="go_ultrasonic_box6">6<br>
                <input type="checkbox" id="go_ultrasonic_box7">7
            </form>
        </div>

        <div id="go_action" class="class1">
            <form>
                <label for="go_action_txt">去程動作</label><br>
                <select id="go_action_select" size="10" style="width:112px">
                </select><br>
                <button id="go_action_add" value="158511" onclick="addGoAction()">+</button>
                <button id="go_action_del" value="158512" onclick="removeSelectedGoAction()">-</button>
                <button id="go_action_up" value="158513" onclick="moveUpSelectedGoAction()">↑</button>
                <button id="go_action_down" value="158514" onclick="moveDownSelectedGoAction()">↓</button>
            </form>
        </div>

        <div id="back_collide" class="class1">
            <form>
                <label for="back_laser_text">回程雷射</label><br>
                <select id="back_laser_box">
                    <option value="off">關</option>
                    <option value="on">開</option>
                </select><br>
                <br/>
                <label for="back_ultrasonic_text">回程超聲波</label><br>
                <input type="checkbox" id="back_ultrasonic_box0">0<br>
                <input type="checkbox" id="back_ultrasonic_box1">1<br>
                <input type="checkbox" id="back_ultrasonic_box2">2<br>
                <input type="checkbox" id="back_ultrasonic_box3">3<br>
                <input type="checkbox" id="back_ultrasonic_box4">4<br>
                <input type="checkbox" id="back_ultrasonic_box5">5<br>
                <input type="checkbox" id="back_ultrasonic_box6">6<br>
                <input type="checkbox" id="back_ultrasonic_box7">7
            </form>
        </div>

        <div id="back_action" class="class1">
            <form>
                <label for="back_action_txt">回程動作</label><br>
                <select id="back_action_select" size="10" style="width:112px">
                </select><br>
                <button id="back_action_add" value="158511" onclick="addBackAction()">+</button>
                <button id="back_action_del" value="158512" onclick="removeSelectedBackAction()">-</button>
                <button id="back_action_up" value="158513" onclick="moveUpSelectedBackAction()">↑</button>
                <button id="back_action_down" value="158514" onclick="moveDownSelectedBackAction()">↓</button>
            </form>
        </div>
    </div>
</html>