#sitebody {
  width: 563px;
  margin: 0 auto;
  font-size: 13px;
}

#save_and_load {
  background-color:beige;
  text-align: left;
  height: 60px;
}

#station {
  background-color: #FFD4D4;
  height: 230px;
  float: left;
}

#setting {
  background-color: #FFD4D4;
  width: 70px;
  height: 230px;
  float: left;
}

#go_collide {
  background-color: #FFECC9;
  width: 70px;
  height: 230px;
  float: left;
}

#go_action {
  width: 120px;
  height: 230px;
  float: left;
  background-color: #FFECC9;
}

#back_collide {
  width: 70px;
  height: 230px;
  float: left;
  background-color: #00D424;
}

#back_action {
  width: 120px;
  height: 230px;
  float: left;
  background-color: #00D424;
}